# Node modules
node_modules/
.pnpm/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Env
.env
.env.production

# Build output
dist/
build/

# Prisma
prisma/dev.db
.prisma/

# Mac/Linux
.DS_Store
Thumbs.db

# Turbo
turbo/
.turbo/

# Coverage reports
coverage/

apps/frontend/dev-dist/
secrets/
.config-cache/
