@import '@bootstrap/scss/functions';
@import '@bootstrap/scss/variables';
@import '@bootstrap/scss/mixins';
@import '@/css/theme';


// Form validation styles
// fix dancing fields
.invalid-feedback {
  display: block !important;
}

.form-control~.invalid-feedback,
.is-valid~.invalid-feedback {
  visibility: hidden;
}

.is-invalid~.invalid-feedback {
  visibility: visible;
}

.btn-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem
}

.btn-shaded {
  color: #fff;
  position: relative;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 3rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    filter: blur(15px);
  }
}

// SVG icon styles
.svg-icon {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
}

.svg-icon-lg {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

.svg-icon-sm {
  width: 0.5rem;
  height: 0.5rem;
  fill: currentColor;
}

.btn-rounded {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  .svg-icon {
    width: 100%;
    height: 100%;
  }
}

.svg-icon-100 {
  @extend .svg-icon;
  width: 100%;
  height: 100%;
}

.btn-icon {
  @extend .btn-rounded;
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
}

.btn-icon-lg {
  @extend .btn-rounded;
  width: 3rem;
  height: 3rem;
  padding: 0.75rem;
}

.btn-push {
  box-shadow:
    0 4px 0 rgba(0, 0, 0, 0.2),
    0 4px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.1s ease-in-out;
  transform: translateY(0);
  position: relative;
  border: 1px solid transparentize($color: #000000, $amount: 0.95);
}

.btn-push:active,
.btn-push.active {
  box-shadow:
    inset 0 4px 8px rgba(0, 0, 0, 0.4),
    0 1px 2px rgba(0, 0, 0, 0.1);
  transform: translateY(2px);
}

@mixin btn-colored-push($color) {
  @extend .btn-push;
  color: transparentize($color, 0.3);
  background-color: transparentize($color, 0.95);
  user-select: none;

  &:hover {
    color: transparentize($color, 0.5);
    background-color: transparentize($color, 0.95);
  }

  &:hover:active {
    color: transparentize($color, 0.5);
    background-color: transparentize($color, 0.95);
  }

  &:focus {
    color: transparentize($color, 0.5);
    background-color: transparentize($color, 0.95);
  }

  &.active,
  &:active {
    background-color: transparentize($color, 0.5);
    color: $white;
  }
}

.btn-social-toggle {
  @include btn-colored-push($social);
}

.btn-dating-toggle {
  @include btn-colored-push($dating);
}

.dating {
  background-color: transparentize($dating, 0.9);
}

.social {
  background-color: transparentize($social, 0.9);
}


// List group checkbox/radio lists
// expand clickable area to the whole list item
// to improve UX on mobile devices
.list-group-item .form-check {
  width: 100%;
  display: flex;

  .form-check-label {
    flex-grow: 1;
    text-align: left;
    margin-left: 0.5rem;
  }
}


.modal-dialog .multiselect--above {
  // margin-top: 250px;
}

@mixin nav-link-theme($color) {
  color: var(--bs-body-color);
  background-color: transparentize($color, 0.9);
  border-color: transparent;
  border-radius: 0.5rem;

  &:hover {
    color: darken($color, 10%);
    background-color: transparentize($color, 0.75);
    border-color: darken($color, 10%);
  }

  &:focus {
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
    color: darken($color, 10%);
    background-color: transparent;
    border-color: darken($color, 10%);
  }

  &.active,
  &:active {
    color: $white;
    background-color: $color;
    border-color: $color;
  }
}

.nav-link-social {
  @include nav-link-theme($social);
}

.nav-link-dating {
  @include nav-link-theme($dating);
}


.profile-thumbnail {
  width: 2rem;
  height: 2rem;

  img {
    border-radius: 50% !important;
  }
}

.list-group-item.clickable {
  .form-check-label {
    cursor: pointer;
  }
}