@import '@/css/app-vars.scss';

body {
  overflow: hidden;

  // TODO investigate if this is really needed for iOS
  height: 105vh;
}

main {
  padding-top: $navbar-height;
    height: calc(100vh - $navbar-height);

  flex-grow: 1;
}
