@import '@/css/app-vars.scss';

body {
  overflow: hidden;

  // TODO investigate if this is really needed for iOS
  height: 105vh;
}

main {
  height: 100vh;
  flex-grow: 1;
}

nav.navbar+main {
  padding-top: $navbar-height;
  height: calc(100vh - $navbar-height);
}