.tab-content-fixedheight>.tab-pane {
  display: block;
  /* undo "display: none;" */
  visibility: hidden;
}

.tab-content-fixedheight {
  display: flex;
}

.tab-content-fixedheight>.tab-pane {
  display: flex;
  /* undo "display: none;" */
  visibility: hidden;
  margin-right: -100%;
  width: 100%;
}

.tab-content-fixedheight>.active {
  visibility: visible;
}

.loading {
  pointer-events: none;
  opacity: 0.5;
}

.form-check-label {
  &:hover {
    cursor: pointer;
  }

  user-select: none;
}

fieldset:disabled {
  opacity: 0.3;

  .form-control {
    background-color: inherit;
  }
}

body.modal-open #app {
  // -webkit-filter: blur(5px);
  // -moz-filter: blur(5px);
  // -o-filter: blur(5px);
  // -ms-filter: blur(5px);
  // filter: blur(5px) grayscale(0.9);
}


.modal.carousel-modal {
  .modal-content {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

  .modal-header {
    border: none;
    padding: 0.5rem;
    background-color: transparent;
    position: absolute;
    z-index: 10;
    width: 100%;
    button {
      margin-top: 3em;
      margin-right: 0;
    }
  }

  .modal-body {
    padding: 0;
    border: none;
  }

  .btn {
    padding: 0.5rem 0.75rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    position: absolute;
    right: 1rem;
    border: none;
  }

  .modal-title {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.5rem;
  }

  background-color: transparent;
}



.user-select-none {
  user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}

main {
  padding-top: 4rem;
  padding-bottom: 1rem;
  flex-grow: 1;
}



.bg-theme {
  background-color: var(--bs-body-bg);
}


// html, body {
//   overflow: hidden;   /* this prevents scroll */
//   height: 100%;
// }


// html, body {
//   height: 100%;
//   overflow: visible;
// }